{% extends 'layout.html' %}

{% block body %}
    <h1 id="text">About</h1>
    <p id="text">
        We are a team of learning enthusiasts who want make the world a little more better and a little more closer. With JOBS, our motive is to provide the job seekers and providers a platform where they can search and connect with the equally potential providers and candidates.
        <br>
        Job searching can be a long and challenging process but it ultimately should be rewarding. So JOBS is here to help you and make your journey the best ever possible.         
    </p>
{% endblock %}